{% extends "layout.html" %}

{% block body %}
    
    <!-- <h1>Search</h1>

    <div class="form-group" >
        <form action="/search">
            <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Large input</label>
            <input name="name" class="form-control form-control-lg" type="text" placeholder="Banda" id="inputLarge">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    
    <div class="form-group" >
        <form action="/lista" method="POST">
            <div id="accordion">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    {% for album in albums %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{album['property']}}" aria-expanded="true" aria-controls="{{album['property']}}">
                                <img src="{{ album['img'] }}" width="30px" height="30px" class="rounded float-start" alt="..."><i>&nbsp&nbsp{{album['title']}}&nbsp&nbsp&nbsp&nbsp - {{album['year']}}</i>
                            </button>
                        </h2>
                        <div id="{{album['property']}}" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                    
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Diracion</th>
                                            <th scope="col">Añadir</th>
                                          </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for track in album['tracks'] %}
                                          <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td>{{ track['title'] }}</td>
                                            <td>{{ track['time'] }}</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="lista" value="{{ artist }} ¯ {{ album['title'] }} ¯ {{track['title']}} ¯ {{track['time']}}" id="flexCheckDefault">
                                                </div>
                                            </td>
                                          </tr>
                                          {% endfor %} 
                                        </tbody>
                                      </table>


                                    
                                           
                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                </div>  
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Añadir</button>
        </form>
    </div> -->


{% endblock  %}

