{% extends 'layout.html' %}

{% block body %}
    <h2>Aute amet ipsum adipisicing et esse velit incididunt tempor est consectetur ullamco.</h2>
    <p>Cupidatat veniam ipsum consectetur adipisicing elit mollit ipsum ipsum. Adipisicing aute velit Lorem est. Velit adipisicing minim qui laborum aliquip exercitation non cupidatat do eu nulla non. Aliqua culpa aliqua deserunt voluptate in eu cillum consectetur ad. Duis fugiat consequat et ipsum eiusmod minim aute do pariatur duis aute. Dolore dolore id sunt excepteur nisi fugiat sit et commodo ad. Officia eiusmod laborum amet eu labore anim exercitation ad do pariatur officia.</p>
{% endblock  %}

